* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --scrollbarBG: #f1f1f1;
  --thumbBG: #666666;
  /* --thumbBG: rgba(0, 0, 0, 0.54); */
} 

body {
  margin: 0;
  padding-right: 30;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 1.5rem;
  /* remove for theme at a later date -- grey=nouse area / change to theme bg color */
  background-color: grey;
	color: white;
}
body::-webkit-scrollbar {
	width: 12px;
	height: 10px;
	background-color: transparent;
}
body::-webkit-scrollbar-corner{
	background-color: var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 8px;
	border: 2px solid var(--scrollbarBG);
}
/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #266798 inset;
} */